<nav
  class="bg-red-300 sticky top-0 w-screen h-[65px] px-5 mb-3 font-kantumruy flex items-center justify-between"
>
  <div>
    <a href="/" class="px-4 font-semibold text-lg">My Blog</a>
  </div>
  <div>
    <a href="/new-post" class="px-4 font-semibold text-lg">Create Post</a>
  </div>
</nav>
